<ion-header [translucent]="true">
  <ion-toolbar color="suncolor">
    <ion-title>
      Praias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-searchbar (ionChange)="filterItems()" placeholder="Pesquisar" [(ngModel)]="searchTerm"></ion-searchbar>
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <ion-item *ngIf="!searchTerm || (item.name.toLowerCase().includes(searchTerm.toLowerCase()) || item.location.toLowerCase().includes(searchTerm.toLowerCase()))">
        <ion-thumbnail slot="start"> <img src={{item.img}}> </ion-thumbnail>
        <ion-label>
          <ion-text color="primary">
            <h3>{{ item.name }}</h3>
          </ion-text>
          <p>{{ item.location }}</p>
        </ion-label>
        <ion-note slot="end">{{item.regiao}}</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="openSite(item.url)">
          <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-item-option>
    
        <ion-item-option (click)="like(i)">
          <ion-icon slot="icon-only" [name]="item.isLiked ? 'star' : 'star-outline'"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>


</ion-content>


<ion-footer id="footer">
  
</ion-footer>